header {
    background-color: $bg_header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 18px 8px 18px;
    position: sticky;
    top: 0;
    z-index: 100;
       
}
