@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #efefef;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;

}



.header {
    background-color: rgb(241,237,231);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 18px 8px 18px;
    position: sticky;
    top: 0;
    z-index: 100;

}


li {
    display: inline;
    list-style: none;
    margin: 6px;
    padding: 8px;
}

a {
 text-decoration: none;
}


.menuLink {
    color: rgb(20, 20, 20);
}

-------


.main{
    background-color: #efefef;
    width: 100%;
	margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "slider slider slider slider"
        "carrousel carrousel carrousel carrousel"
        "colecciones colecciones colecciones colecciones";
    gap: 10px;
}

.slider{
    grid-area: slider;
    text-align: center;
}

.slider img {
    width:100%;
}
.carrousel {
    grid-area: carrousel;
    padding-top: 100px;
}

.productos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow:hidden;
}

.colecciones {
    grid-area: colecciones;
    padding-top: 100px;

}


.dif-colecc {
    display: flex;
    justify-content: space-around;
}

.effect {
    position: relative;
    width: 50%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.801);
  }
  
  .effect:hover .overlay {
    opacity: 1;
  }

  .secc {
    display: block;
    width: 100%;
    height: auto;
  }
  
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


footer {
    background-color: rgba(0, 0, 0, 0.801);
    color: blanchedalmond;
    width: 100%;
	margin: 20px auto;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "menu-footer products contact logo"
        "menu-footer products contact logo"
        ;
    gap: 10px;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;

}

.products {
    padding-right: 20px;

}

.items-title {
    padding-top: 10px;
    padding-bottom: 20px;
    
}

.contact {
    padding-right: 20px;

}

.items {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 12px;
}

.seguinos {
    padding-top: 10px;
    padding-bottom: 20px;
}


.footerLink {
    color: blanchedalmond;
    font-size: 12px;

}

.fa {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  

.fa-instagram {
    background: blanchedalmond;
    color: black;
 }

 .logo-limon-footer {
     text-align: center;
 }
 
 /* efecto limon */

 #flecha {
    font-weight: bold;
    position: relative;
    top: 8px;
}
.btn {
    padding: 0 12px 9px;
}

#flecha {
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
}
.logo:hover #flecha {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}






 @media screen and (max-width: 768px) {

    .header {
        background-color: rgb(241,237,231);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 18px 8px 18px;
        position: sticky;
        top: 0;
        z-index: 100;
    
    }   

    .main {
            gap: 0.7rem;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,auto);
            grid-template-areas: 
            "slider slider"
            "carrousel carrousel"
            "colecciones colecciones";
            }

    h1{
        font-size: 1.5rem;
    }
    .carrousel {
        grid-area: carrousel;
        display: flex;
        flex-wrap: wrap;
    }

    .productos{
        display: flex;
        flex-wrap: wrap;
    }

    .colecciones {
        grid-area: colecciones;
        display: flex;
        flex-wrap: wrap;
    }

    .dif-colecc{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .slider{
        grid-area: slider;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }


    .footer {
        background-color: rgba(0, 0, 0, 0.801);
        color: blanchedalmond;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
            "menu-footer products"
            "contact logo"
            ;
        gap: 10px;
        justify-items: center;
    }
    
    .menu-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
    
    }
    
    .products {
        padding-right: 20px;
    
    }
    
    .items-title {
        padding-top: 10px;
        padding-bottom: 20px;
        
    }
    
    .contact {
        padding-right: 20px;
    
    }
    
    .items {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 12px;
    }
    
    .seguinos {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    
    .footerLink {
        color: blanchedalmond;
        font-size: 12px;
    
    }

}
